body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;

  @media (orientation: portrait) {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: end;
  }
}

.navbar {
  display: flex;
  background-color: #ffedd5;
}

@media (orientation: landscape) {
  .navbar {
    width: fit-content;
    height: 100%;

    flex-direction: column;
    justify-content: start;
  }
}

@media (orientation: portrait) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;

    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .content_container {
    height: 100%;
    width: 100%;
  }

  .list__container {
    padding-bottom: 80px;
  }

  .navbar__landscape,
  .navbar__landscape > *,
  .navbar__text > *,
  .navbar__text,
  .navbar__spacer {
    display: none !important;
  }
}

.placeholder-icon {
  min-width: 50px;
  min-height: 50px;

  text-align: center;
  line-height: 50px;

  background-color: #aaa;
  border-radius: 50%;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #bbb;
}
